body main {

    margin: 28px;
    display: flex;
    flex-direction: column;

}

h1{
    text-align: center;
}

.start-screen{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.question-screen{
    background-color: darkgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
}

.answer-screen{
    background-color: lightgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
.answer-screen button {
    width: fit-content;
    align-self: center;
}
span{

    align-self: flex-end;
}

.result-screen{
    background-color: lightgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
.result-screen button {
    width: fit-content;
    align-self: center;
}
.result-screen span{
    align-self: center;
    font-size: 4em;
}