body, html {
    height: 100%;
    margin: 0;
}
body main {
    padding:28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("woodbackground.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
body main div{
    width: 50%;
    border: 1px solid #000;
    border-radius: 49px;
}
main div button {
    margin: 15px;
}
h1{
    text-align: center;
}

.start-screen{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.question-screen{
    background-color: darkgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
}

.answer-screen{
    background-color: lightgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
.answer-screen button {
    width: fit-content;
    align-self: center;
}
span{

    align-self: flex-end;
}

.result-screen{
    background-color: lightgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
.result-screen button {
    width: fit-content;
    align-self: center;
}
.result-screen span{
    align-self: center;
    font-size: 4em;
}