body, html {
    height: 100%;
    margin: 0;
}
body main {
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("woodbackground.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
body main div{
    width: 70%;
    border: 1px solid #000;
    border-radius: 21px;
}

body main h1{
font-size: 35px;

}

body main h2{
font-size: 28px;
margin: 14px;

}

body main input[type="radio"], body main label{
font-size: 21px;
}

main div button {
    margin: 15px;
    float: right;
    border-radius: 14px;
}

body main div img{
    max-height: 320px;
    max-width: 50%;
    align-self: center;

}
h1{
    text-align: center;
}

.start-screen{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.question-screen{
    background-color: darkgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
}

.answer-screen{
    background-color: lightgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
.answer-screen button {
    width: fit-content;
    align-self: center;
}
span{

    align-self: flex-end;
}

.result-screen{
    background-color: lightgray;
    padding: 14px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
.result-screen button {
    width: fit-content;
    align-self: center;
}
.result-screen span{
    align-self: center;
    font-size: 4em;
}

@media all and (min-width:800px){

body main{
    padding: 21px;
}
body main h1{
    font-size: 42px;
        
 }
        
body main h2{
font-size: 35px;
        
 }

 body main input[type="radio"], body main label{
    font-size: 28px;
}

main div button {
    margin: 15px;
    float: right;
    border-radius: 14px;
    font-size: 28px;
    padding: 17px;
}

}